section {
    padding-top: 50px;
    padding-bottom: 50px;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0px !important;
}
/* .left {
    width: 100% !important;
    height: 300px;
    background-color: blue;
} */

h3 {
    margin-bottom: 10px !important;
}
.user-login {
    color: white;
}
.apost {
    width: 100%;
    padding: 3%;
}
.right {
    padding-top: 20px;
}

.right a {
    color: black;
}

.right .alink span {
    font-size: 12px;
}

.left a {
    color: black;
}

#username {
    text-transform: lowercase !important;
}